.footer {
    margin-top: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    color: white;
  }
  
  .left-section {
    flex: 1;
    text-align: left;
    color: black;
  }
  
  .right-section {
    display: flex;
    gap: 1px;
  }
  
  .left-section p {
    font-size: 14px;
  }