@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f9f9f9;
}
.navbar h1 {
  color: red;
  font-size: 35px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #333;
}
.navbar a:hover {
  color: green
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.home-page {
  padding:10px;
}
.intro {
  margin-top: 10px;
}
.navbar img {
  height: 100px; /* Adjust as needed */
  width: 100px; /* Adjust as needed */
  margin-right: 5px;
}